// wifi requirement
#define WIFI_SSID "your_ssid"
#define WIFI_PASSWORD "your_password"

// telegram requirement
#define BOTtoken "XXXXXXXXXX:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
#define CHAT_ID "XXXXXXXXXX"